<!DOCTYPE html>

<html>

   <head>
      <title>Mercado AFI</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
     <meta name="viewport" content="width=device-width,initial-scale=1">
      <link href="style.css" rel="stylesheet" type="text/css">
      <script type="text/javascript" src="myApp.js"></script>
   </head>

   <body>

      <h1>AFI: Informaciones del Mercado</h1>
        <div id="data">
          <p id="AFI" class="table-header" onclick="sortData(event);">AFI</p>
          <p id="Fondo" class="table-header" onclick="sortData(event);">Fondo</p>
          <p id="Tasa-30-Dias" class="table-header" onclick="sortData(event);">Tasa 30 Dias</p>
          <p id="Tasa-90-Dias" class="table-header" onclick="sortData(event);">Tasa 90 Dias</p>
          <p id="Tasa-180-Dias" class="table-header" onclick="sortData(event);">Tasa 180 Dias</p>
          <p id="Tasa-360-Dias" class="table-header" onclick="sortData(event);">Tasa 360 Dias</p>
        </div>

   </body>

</html>
